body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

main {
  display: flex;
}

/* Utility classes */

.flex {
  display: flex;
}

.flex.flex-center {
  justify-content: center;
}

.hidden {
  display: none;
}
html {
  font-family: sans-serif;
  font-size: 16px;
  background: #f5f5f5;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
}

div#formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  height: 700px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 1rem;
}

div#result {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 1rem;
  max-width: 400px;
}

select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background: #fff;
  cursor: pointer;
}

select:hover {
  background: #f5f5f5;
}

label {
  font-weight: bold;
}

button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background: #fff;
  cursor: pointer;
}

button:hover {
  background: #f5f5f5;
}

h1.heading {
  text-align: center;
}
